* {
	padding: 0;
	margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    width: 600px;
    border: 3px solid grey;
    padding-bottom: 30px;
}

.cardheader{
    margin-left: 0;
    background-color: #17a2b8;
    height: 75px;
    width: 600px;
}

.user{
    background-color: white;
    border-radius: 50%;
    border: 5px solid white;
    height: 100px;
    margin-left: 40px;
    margin-top: 20px;
}

.cardinformation{
    padding-left: 40px;
    margin-top: 60px;
}

.location{
    display: flex;
    flex-direction: row;
    align-items: left;
    margin-bottom: 15px;
}

h1{
    margin-bottom: 10px;
}
.pin, .gear{
    height: 20px;
    margin-right: 10px;
}

.edit{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

a{
    color: #307ce4;
}